---
const currentPath = Astro.url.pathname;
const { href, class: classes, ...props } = Astro.props;
const isActive = (currentPath.startsWith(href) && href !== '/') || currentPath === href;
---

<style>
    a {
        background-image: unset;
        color: var(--purple-2);
        display: block;
        font-weight: 600;
        padding: var(--spacing);
        text-transform: uppercase;

        &:focus-visible,
        &:hover,
        &.active {
            text-decoration: underline;
        }
    }
</style>

<a class:list={[classes, { active: isActive }]} href={href} {...props}><slot /></a>
