---
import dayjs from 'dayjs';
import { getEntry } from 'astro:content';

import Asterism from '@/icons/asterism.svg';
import Layout from '@/layouts/Layout.astro';

const { slug } = Astro.params;

let post;

try {
    post = await getEntry('blog', slug as string);
} catch (error) {
    return { status: 404, error };
}

const { title, publishDate } = post.data;
const body = post.rendered?.html;
---

<Layout title={title}>
    <div>
        <header>
            <h1 class="title">
                <Asterism class="asterism" />
                {title}
            </h1>
            <p>
                <time datetime={`${dayjs(publishDate).format('YYYY-MM-DD')}`}>
                    {dayjs(publishDate).format('MMM D, YYYY')}
                </time>
                —
            </p>
        </header>
        <Fragment set:html={body} />
    </div>
</Layout>
