---
// @ts-expect-error 'render' works but for some reason TS is mad about it.
import { getEntry, render } from 'astro:content';
import dayjs from 'dayjs';

import Title from '@/components/title/Title.astro';
import Layout from '@/layouts/Layout.astro';

const { slug } = Astro.params;

let post;

try {
    post = await getEntry('blog', slug as string);
} catch (error) {
    return { status: 404, error };
}

if (!post) {
    return { status: 404 };
}

const { title, publishDate } = post.data;
const { Content } = await render(post);
---

<style>
    .date {
        color: var(--green-2);
        font-weight: 500;
        margin-block-start: 0.5em;
        text-transform: uppercase;
    }

    .content {
        a {
            --_color: var(--green-2);
        }
    }
</style>

<Layout title={title}>
    <Title class="heading">
        {title}
        <p class="date" slot="after-text">
            <time datetime={`${dayjs(publishDate).format('YYYY-MM-DD')}`}>
                {dayjs(publishDate).format('MMM D, YYYY')}
            </time>
            —
        </p>
    </Title>
    <div class="content">
        <Content />
    </div>
</Layout>
