---
import dayjs from 'dayjs';
import { getEntry } from 'astro:content';

import Layout from '@/layouts/Layout.astro';
import PageHeader from '@/components/page-header/PageHeader.astro';

const { slug } = Astro.params;

let post;

try {
    post = await getEntry('blog', slug as string);
} catch (error) {
    return { status: 404, error };
}

const { title, publishDate } = post.data;
const body = post.rendered?.html;
---

<style>
    .date {
        color: var(--green-2);
        font-weight: 500;
        margin-block-start: 0.5em;
        text-transform: uppercase;
    }

    .heading,
    .content {
        max-width: calc(var(--spacing) * 67);
    }
</style>

<Layout title={title}>
    <PageHeader class="heading">
        {title}
        <p class="date" slot="after-text">
            <time datetime={`${dayjs(publishDate).format('YYYY-MM-DD')}`}>
                {dayjs(publishDate).format('MMM D, YYYY')}
            </time>
            —
        </p>
    </PageHeader>
    <div class="content" set:html={body} />
</Layout>
