---
import BlogLinks from '@/components/blog-links/BlogLinks.astro';
import Title from '@/components/title/Title.astro';
import Layout from '@/layouts/Layout.astro';
---

<style>
    .links {
        --_font-size: var(--type-2);
    }
</style>

<Layout title="Blog">
    <Title>My collected nonsense</Title>
    <BlogLinks class="links" />
</Layout>
