---
import Asterism from '@/icons/asterism.svg';
import Layout from '@/layouts/Layout.astro';
import BlogLinks from '@/components/blog-links/BlogLinks.astro';
---

<Layout title="Blog">
    <header>
        <h1 class="title">
            <Asterism class="asterism" />
            M'Blog
        </h1>
    </header>
    <BlogLinks />
</Layout>
