.error {
    grid-column: 1 / -1;
    max-width: 61.8%;
}

.title,
.notice {
    text-wrap: balance;
}

.asterism {
    display: block;
    font-weight: 500;
}

.lucy,
.lucy__img,
.lucy__glow {
    display: block;
    height: 100%;
    inset: 0;
    max-height: unset;
    max-width: unset;
    object-fit: contain;
    object-position: bottom right;
    position: absolute;
    width: 100%;
}

.lucy {
    z-index: -1;
}

.lucy__glow {
    filter: invert(100%) sepia(100%) saturate(10000%) hue-rotate(90deg);
}
