:root {
    --green-1: hsl(164 96 8);
    --green-2: hsl(169 98 13);
    --green-3: hsl(96 98 88);
    --green-3m1: color-mix(in srgb, var(--green-3), var(--green-1) 88%);
    --green-3a12: color-mix(in srgb, var(--green-3), transparent 88%);

    --spacing-m: clamp(1.25rem, 0.8152rem + 2.1739vw, 2.5rem);
    --spacing-l: clamp(1.5rem, 0.9783rem + 2.6087vw, 3rem);

    --animation-curve-in: cubic-bezier(0.64, 0, 0.78, 0);
    --animation-curve-out: cubic-bezier(0.25, 1, 0.5, 1);
    --animation-timing: 180ms;
}

body {
    background: var(--green-1)
        radial-gradient(circle at top left, var(--green-2) 0, var(--green-1) 80vmin) no-repeat 0 0;
    color: var(--green-3);
    display: grid;
    gap: var(--spacing-l);
    grid-template:
        'wrapper' 1fr
        'footer' auto
        / 1fr;
}

.wrapper {
    grid-area: wrapper;
    padding-block-start: var(--spacing-l);
    padding-inline: var(--spacing-m);
}

.footer {
    grid-area: footer;
    margin-block-start: var(--spacing-m);
    padding-block-end: var(--spacing-l);
    padding-inline: var(--spacing-m);

    a {
        font-weight: 600;
    }
}
