body {
    background: var(--blue-4)
        radial-gradient(circle at top left, var(--green-5) 0, var(--blue-4) 80vmin) no-repeat 0 0;
    color: var(--blue-1);
    display: grid;
    gap: calc(var(--spacing) * 4);
    grid-template:
        'header' 0
        'wrapper' 1fr
        'footer' auto
        / 1fr;
    padding-block: calc(var(--spacing) * 2) calc(var(--spacing) * 3);
    padding-inline: calc(var(--spacing) * 3);
}

form {
    display: grid;
    gap: 4px var(--spacing);
    grid-template-columns: auto 1fr;

    label:where(:has(input, textarea)) {
        display: grid;
        gap: 4px var(--spacing);
        grid-column: 1 / -1;
        grid-template-columns: subgrid;
    }

    button[type='submit'] {
        grid-column: 2;
    }
}

label {
    span {
        padding-block: 0.72em;
    }
}

input,
textarea {
    background-color: var(--green-1);
    border: unset;
    border-radius: 3px;
    color: var(--green-6);
    padding-block: 0.72em;
    padding-inline: 0.84em;
}

textarea {
    min-height: 8lh;
    resize: vertical;

    @supports (field-sizing: content) {
        field-sizing: content;
        min-height: 4lh;
        resize: none;
    }
}

.wrapper {
    align-content: start;
    display: grid;
    gap: 2px;
    grid-area: wrapper;
    grid-template-columns: repeat(4, minmax(0, 1fr));

    @media (width > 400px) {
        grid-template-columns: repeat(auto-fit, minmax(var(--grid-size), 1fr));
    }
}

.label-group,
.label-group__set {
    display: grid;
    gap: 4px;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
}

.label-group__label,
.label-group__item {
    font-size: var(--type-4);
    line-height: 1.6;
}

.label-group__note,
.label-group__label {
    background-color: color-mix(in srgb, var(--green-3), transparent 82%);
    border-radius: 6px;
    color: var(--yellow-2);
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: fit-content;
    margin: 0;
    padding-block: 1em;
    padding-inline: 1em;
    place-content: center;
    text-align: center;
    text-transform: uppercase;
    text-wrap: balance;

    @media (width > 480px) {
        grid-column: span 2;
        grid-row: 1 / -1;
        padding-block: unset;
    }
}

.label-group__list {
    display: grid;
    grid-column: 1 / -1;
    grid-gap: 4px;
    grid-template-columns: subgrid;

    @media (width > 480px) {
        grid-column: 3 / -1;
    }
}

.label-group__item {
    border: 1px solid color-mix(in srgb, var(--green-3), transparent 82%);
    border-radius: 6px;

    img,
    svg {
        border-radius: 5px;
        overflow: hidden;
    }
}

.label-group__note {
    background-color: color-mix(in srgb, var(--green-6), black 12%);
    color: var(--blue-2);
    grid-row: unset;
    padding: 1em;
}
