.wrapper--home {
    h1,
    p,
    section {
        grid-column: 1 / -1;
        max-width: calc(var(--spacing) * 80);
        /* text-wrap: balance; */
    }

    p {
        font-size: var(--type-4);
        font-weight: 200;
    }

    a {
        --_color: var(--blue-1);
        --_bg-active: var(--blue-1);

        font-weight: 500;

        &:focus-visible,
        &:hover {
            --_color: var(--green-5);
        }
    }
}
