.wrapper--home {
    gap: calc(var(--spacing) * 3);

    h1,
    p,
    section {
        grid-column: 1 / -1;
        margin: unset;
        max-width: calc(var(--spacing) * 80);
        /* text-wrap: balance; */
    }

    h2,
    .hobbies p,
    .socials p,
    .work p {
        font-size: var(--type-3);
        font-weight: 200;
    }
}

.socials,
.work,
.blog h2 {
    a {
        --_color: var(--blue-1);
        --_bg-active: var(--blue-1);

        font-weight: 500;

        &:focus-visible,
        &:hover {
            --_color: var(--green-6);
        }
    }
}

.color-overlay {
    --_color: #fff;

    background-color: var(--_color);

    clip-path: ellipse(100vmax 100vmax at 50% -150vmax);
    inset: 0;
    mix-blend-mode: color;
    pointer-events: none;
    position: fixed;

    transition-duration: calc(var(--animation-timing) * 3);
    transition-property: background-color, clip-path;
    transition-timing-function: var(--animation-curve-out);
    z-index: var(--z-overlay);

    &.is-visible {
        clip-path: ellipse(150% 100vmax at 50% 50%);
        transition-timing-function: var(--animation-curve-out);
    }
}

.theme-ancile {
    --_color: #11afe8;
}

.theme-codesandbox {
    --_color: #eaff96;
}

.theme-gillette {
    --_color: #031a46;
}

.theme-github {
    --_color: #7c268d;
}

.theme-imvu {
    --_color: #63ccca;
}

.theme-keurig {
    --_color: #ffc92f;
}

.theme-kongregate {
    --_color: #900;
}

.theme-krafton {
    --_color: #000;
}

.theme-linkedin {
    --_color: #0a66c2;
}

.theme-rossignol {
    --_color: #2b1d38;
}

.theme-tag {
    --_color: #f21d71;
}
