*,
*::before,
*::after {
    box-sizing: border-box;
    color: currentcolor;
    vertical-align: baseline;
}

[role='presentation'],
:disabled {
    pointer-events: none;
}

:focus {
    outline: 1px solid;
}

@supports selector(:focus-visible) {
    :focus {
        outline: none;
    }
}

:focus-visible {
    outline: 1px solid;
}

:target {
    scroll-margin-block: 1rlh;
}

html {
    text-size-adjust: none;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-height: 100dvh;
    text-rendering: geometricprecision;
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a:where(:not([class])) {
    color: currentcolor;
    text-decoration-skip-ink: auto;
}

button,
input,
select,
textarea {
    appearance: unset;
    font: inherit;
}

button,
input[type='button'],
input[type='checkbox'],
input[type='radio'],
select {
    cursor: pointer;
}

button {
    background: unset;
    border: unset;

    :active {
        outline: unset;
    }
}

h1,
h2,
h3 {
    text-wrap: balance;
}

img,
picture {
    display: block;
    max-width: 100%;
}

ul,
ol {
    &:where([class]) {
        list-style-type: none;
        margin: unset;
        padding: unset;
    }
}
