::selection {
    background-color: var(--blue-2);
    color: var(--blue-7);
}

body {
    font-kerning: normal;
    font-optical-sizing: auto;
    font-variant-ligatures: common-ligatures no-discretionary-ligatures no-historical-ligatures
        contextual;
    line-height: 1.5;
    text-decoration-skip-ink: auto;
}

body,
dd,
dt,
p,
li,
.type-0 {
    font-family: 'Jost', system-ui, sans-serif;
    font-optical-sizing: auto;
    font-size: var(--type-0);
    font-weight: 300;
    letter-spacing: 0.024em;
    line-height: max(24px, 1.618em);
    text-wrap: pretty;
}

h1,
.type-1,
h2,
.type-2,
h3,
.type-3,
h4,
.type-4 {
    line-height: 1.389;
}

h5,
.type-5,
h6,
.type-6 {
    line-height: 1.5;
}

h1,
.type-1 {
    color: var(--green-2);
    font-size: var(--type-5);
    font-weight: 600;
    line-height: 1.16667;
    margin-block: calc(var(--spacing) * 3);

    &:has(strong) {
        font-weight: 200;
    }

    strong {
        font-weight: 600;
    }
}

h2,
.type-2 {
    color: var(--teal-2);
    font-size: var(--type-3);
    font-weight: 600;
    line-height: 1.333;
    margin-block: calc(var(--spacing) * 3) calc(var(--spacing) * 1.5);
}

h3,
.type-3 {
    color: var(--green-2);
    font-size: var(--type-2);
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
}

h4,
.type-4 {
    color: var(--teal-1);
    font-size: var(--type-2);
    font-weight: 700;
    line-height: 1.5;
}

h5,
.type-5 {
    color: var(--green-2);
    font-size: var(--type-1);
    font-weight: 700;
    line-height: 1.333;
}

h6,
.type-6 {
    color: var(--teal-1);
    font-size: var(--type-0);
    font-weight: 500;
    line-height: 1.5;
}

cite,
.type--1 {
    color: var(--purple-1);
    font-size: var(--type--1);
    font-style: italic;
    font-weight: 500;
    line-height: 1.333;
}

h1,
h2,
h3,
h4,
h5,
h6,
cite,
dl,
figure,
ol:where(:not([class])),
p,
ul:where(:not([class])),
table,
.type-1,
.type-2,
.type-3,
.type-4,
.type-5,
.type-6,
.type--1 {
    &:where(:first-child) {
        margin-block-start: 0;
    }

    &:where(:last-child) {
        margin-block-end: 0;
    }
}

@property --_anchor-underline {
    inherits: true;
    initial-value: 0%;
    syntax: '<percentage>';
}

a,
.link,
.block-link {
    --_anchor-underline: 0%;
    --_color: var(--teal-1);
    --_color-active: var(--green-6);
    --_bg: var(--_color);
    --_bg-active: var(--_bg);

    background-color: transparent;
    background-image: radial-gradient(ellipse at 50% 100%, var(--_bg-active) 50%, transparent 0%),
        linear-gradient(to top, var(--_bg) max(1px, 0.06em), transparent 0%);
    background-position:
        50% 100%,
        0 0;
    background-repeat: no-repeat;
    background-size:
        160% calc(var(--_anchor-underline) * 3),
        100% 100%;
    border-radius: 3px;
    box-decoration-break: clone;
    color: var(--_color);
    padding-inline: 0.06em;
    position: relative;
    text-decoration: none;
    transition:
        --_anchor-underline calc(var(--animation-timing) * 4) var(--animation-spring),
        color calc(var(--animation-timing) * 2) var(--animation-spring);

    &:focus-visible,
    &:focus-within:has(:focus-visible),
    &:hover {
        --_anchor-underline: 100%;
        color: var(--_color-active);
    }
}

.block-link {
    background-image: radial-gradient(ellipse at 50% 100%, var(--_bg-active) 50%, transparent 0%);
    background-position: 50% 100%;
    background-size: 250% calc(var(--_anchor-underline) * 1.7);
}

b,
dt,
strong {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

q {
    &::after {
        content: close-quote;
    }

    &::before {
        content: open-quote;
    }
}

h3,
.type-3,
h4,
.type-4,
figure,
ol:where(:not([class])),
p,
ul:where(:not([class])),
table {
    margin-block: calc(var(--spacing) * 1.5);

    :where(h4, h5, h6) + & {
        margin-block-start: unset;
    }
}

ol:where(:not([class])),
ul:where(:not([class])) {
    padding-inline-start: calc(var(--spacing) * 2);

    ol:where(:not([class])),
    ul:where(:not([class])) {
        margin-block: 0;
    }

    li {
        padding-inline-start: 0.5ch;
    }
}

ol li::marker {
    font-size: 0.86em;
    font-weight: 600;
}

figure {
    position: relative;

    &:where(:has(img, video)) {
        background-color: color-mix(in srgb, transparent, var(--purple-6) 48%);
        border: 1px solid color-mix(in srgb, transparent, var(--blue-1) 12%);
        border-radius: 3px;
        display: block;
        padding: var(--spacing);
        width: 100%;
    }

    &:where(:has(blockquote)) {
        &::before {
            border-inline-start: 4px solid;
            content: '';
            inset-block: 0;
            inset-inline-start: 0;
            position: absolute;
        }
    }

    blockquote {
        font-size: var(--type-2);
        font-weight: 200;
        padding-inline: calc(var(--spacing) * 2);
    }

    img,
    video {
        border-radius: 3px;
        display: block;
        max-width: 100%;
    }

    > p {
        padding-inline: calc(var(--spacing) * 2);
    }
}

cite {
    display: block;
    letter-spacing: 0.05em;
    padding-block-start: var(--spacing);
    text-align: center;
}
