::selection {
    background-color: var(--blue-2);
    color: var(--blue-5);
}

body,
.type-0 {
    font-family: 'Jost', system-ui, sans-serif;
    font-optical-sizing: auto;
    font-size: var(--step-0);
    font-weight: 300;
    letter-spacing: 0.01em;
    line-height: clamp(24px, 1.618em, 2em);
    text-wrap: pretty;
}

.asterism {
    display: block;
    height: auto;
    margin-block-end: 0.36em;
    width: 1.1em;
}

h1,
.type-1,
h2,
.type-2,
h3,
.type-3,
h4,
.type-4 {
    line-height: 1.389;
}

h5,
.type-5,
h6,
.type-6 {
    line-height: 1.5;
}

h2,
.type-2,
h3,
.type-3,
h4,
.type-4 {
    color: var(--purple-1);
}

h1,
.type-1 {
    font-size: var(--step-4);
    font-weight: 600;
    margin-block: calc(var(--spacing) * 3);

    &:has(strong) {
        font-weight: 200;
    }

    strong {
        font-weight: 600;
    }
}

h2,
.type-2 {
    font-size: var(--step-2);
    font-weight: 600;
    line-height: 1.24;
    margin-block: calc(var(--spacing) * 3) calc(var(--spacing) * 1.5);
    text-transform: uppercase;
}

h3,
.type-3 {
    font-size: var(--step-1);
    font-weight: 500;
}

h4,
.type-4 {
    font-size: var(--step-1);
    font-weight: 400;
}

h5,
.type-5 {
    font-size: var(--step-0);
    font-weight: 600;
}

h6,
.type-6 {
    font-size: var(--step--1);
    font-weight: 500;
    text-transform: uppercase;
}

cite,
.type--1 {
    color: var(--blue-2);
    font-size: var(--step--1);
    font-style: italic;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
cite,
dl,
figure,
ol:where(:not([class])),
p,
ul:where(:not([class])),
table,
.type-1,
.type-2,
.type-3,
.type-4,
.type-5,
.type-6,
.type--1 {
    &:where(:first-child) {
        margin-block-start: 0;
    }

    &:where(:last-child) {
        margin-block-end: 0;
    }
}

@property --_anchor-underline {
    inherits: true;
    initial-value: 0%;
    syntax: '<percentage>';
}

a,
.link {
    --_anchor-underline: 0%;
    --_color: var(--green-2);
    --_bg: var(--_color);
    --_bg-active: var(--_bg);

    background-color: transparent;
    background-image: radial-gradient(ellipse at 50% 100%, var(--_bg-active) 50%, transparent 0%),
        linear-gradient(to top, var(--_bg) max(1px, 0.072em), transparent 0%);
    background-position:
        50% 100%,
        0 0;
    background-repeat: no-repeat;
    background-size:
        160% calc(var(--_anchor-underline) * 3),
        100% 100%;
    border-radius: 3px;
    box-decoration-break: clone;
    color: var(--_color);
    padding-inline: 0.06em;
    position: relative;
    text-decoration: none;
    transition-duration: calc(var(--animation-timing) * 3);
    transition-property: --_anchor-underline, color;
    transition-timing-function: var(--animation-spring);

    &:focus-visible,
    &:hover {
        --_color: var(--green-6);
        --_bg: var(--green-2);
        --_anchor-underline: 100%;
    }
}

b,
dt,
strong {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

q {
    &::after {
        content: close-quote;
    }

    &::before {
        content: open-quote;
    }
}

h3,
.type-3,
h4,
.type-4,
figure,
ol:where(:not([class])),
p,
ul:where(:not([class])),
table {
    margin-block: calc(var(--spacing) * 1.5);

    :where(h4, h5, h6) + & {
        margin-block-start: unset;
    }
}

ol:where(:not([class])),
ul:where(:not([class])) {
    padding-inline-start: calc(var(--spacing) * 2);

    ol:where(:not([class])),
    ul:where(:not([class])) {
        margin-block: 0;
    }

    li {
        padding-inline-start: 0.5ch;
    }
}

ol li::marker {
    font-size: 0.86em;
    font-weight: 600;
}

figure:where(:has(blockquote)) {
    position: relative;

    &::before {
        border-inline-start: 4px solid;
        content: '';
        inset-block: 0;
        inset-inline-start: 0;
        position: absolute;
    }

    > p {
        padding-inline: calc(var(--spacing) * 2);
    }

    blockquote {
        font-size: var(--step-2);
        font-weight: 200;
        padding-inline: calc(var(--spacing) * 2);
    }
}
