:root {
    /* COLORS: */
    --purple-1: #d792ff;
    --purple-2: #c156ff;
    --purple-3: #58376c;
    --purple-4: #24013a;
    --purple-5: #1d002e;

    --blue-1: #e7fefe;
    --blue-2: #b6fcfc;
    --blue-3: #3adfdf;
    --blue-4: #00181c;
    --blue-5: #001317;

    --green-1: #c6fcec;
    --green-2: #00e6b4;
    --green-3: #008064;
    --green-4: #004135;
    --green-5: #003027;
    --green-6: #01281d;

    --yellow-1: #f9ffb8;
    --yellow-2: #f9f871;
    --yellow-3: #bebd13;

    /* TYPOGRAPHY: */

    /* Step -2: 8.3333px → 9.6px */
    --step--2: clamp(0.5208rem, 0.4933rem + 0.1377vw, 0.6rem);
    /* Step -1: 10px → 12px */
    --step--1: clamp(0.625rem, 0.5815rem + 0.2174vw, 0.75rem);
    /* Step 0: 12px → 15px */
    --step-0: clamp(0.75rem, 0.6848rem + 0.3261vw, 0.9375rem);
    /* Step 1: 14.4px → 18.75px */
    --step-1: clamp(0.9rem, 0.8054rem + 0.4728vw, 1.1719rem);
    /* Step 2: 17.28px → 23.4375px */
    --step-2: clamp(1.08rem, 0.9461rem + 0.6693vw, 1.4648rem);
    /* Step 3: 20.736px → 29.2969px */
    --step-3: clamp(1.296rem, 1.1099rem + 0.9305vw, 1.8311rem);
    /* Step 4: 24.8832px → 36.6211px */
    --step-4: clamp(1.5552rem, 1.3rem + 1.2759vw, 2.2888rem);
    /* Step 5: 29.8598px → 45.7764px */
    --step-5: clamp(1.8662rem, 1.5202rem + 1.7301vw, 2.861rem);

    /* LAYOUT: */
    --spacing: clamp(0.625rem, 0.5833rem + 0.2083vw, 0.75rem); /* 10-12px */
    --grid-size: calc(var(--spacing) * 6); /* 60-72px */

    /* ANIMATIONS: */
    --animation-curve-in: cubic-bezier(0.64, 0, 0.78, 0);
    --animation-curve-out: cubic-bezier(0.25, 1, 0.5, 1);
    --animation-timing: 240ms;

    /* Z-INDEXES */
    --z-overlay: 40;
    --z-dialog: 30;
    --z-nav: 20;
    --z-local: 10;
}
