:root {
    /* COLORS: */
    --red-1: hsl(343, 92%, 95%);
    --red-2: hsl(343, 100%, 79%);

    --grey-1: hsl(0, 0%, 87%);

    --purple-1: hsl(267, 90%, 88%);
    --purple-2: hsl(278, 100%, 79%);
    --purple-3: hsl(278, 100%, 67%);
    --purple-4: hsl(278, 31%, 32%);
    --purple-5: hsl(277, 97%, 12%);
    --purple-6: hsl(278, 100%, 9%);

    --blue-1: hsl(180, 92%, 95%);
    --blue-2: hsl(180, 92%, 85%);
    --blue-3: hsl(180, 72%, 55%);
    --blue-4: hsl(244, 74%, 43%);
    --blue-6: hsl(189, 100%, 5%);
    --blue-7: hsl(190, 100%, 5%);
    --blue-8: hsl(214, 53%, 6%);

    --teal-1: hsl(167, 100%, 87%);
    --teal-2: hsl(167, 100%, 78%);

    --green-1: hsl(162, 90%, 88%);
    --green-2: hsl(167, 100%, 45%);
    --green-3: hsl(167, 100%, 25%);
    --green-4: hsl(169, 100%, 13%);
    --green-5: hsl(169, 100%, 9%);
    --green-6: hsl(163, 95%, 8%);

    --yellow-1: hsl(65, 100%, 86%);
    --yellow-2: hsl(60, 92%, 71%);
    --yellow-3: hsl(60, 82%, 41%);

    /* TYPOGRAPHY: */

    --type--1: clamp(0.625rem, 0.217vw + 0.576rem, 0.75rem); /* 10-12 */
    --type-0: clamp(0.875rem, 0.217vw + 0.826rem, 1rem); /* 14-16 */
    --type-1: clamp(1rem, 0.217vw + 0.951rem, 1.125rem); /* 16-18 */
    --type-2: clamp(1.125rem, 0.652vw + 0.978rem, 1.5rem); /* 18-24 */
    --type-3: clamp(1.5rem, 1.304vw + 1.206rem, 2.25rem); /* 24-36 */
    --type-4: clamp(2.25rem, 2.609vw + 1.663rem, 3.75rem); /* 36-60 */
    --type-5: clamp(3rem, 2.609vw + 2.413rem, 4.5rem); /* 48-72 */

    /* LAYOUT: */
    --spacing: clamp(0.625rem, 0.5833rem + 0.2083vw, 0.75rem); /* 10-12px */
    --grid-size: calc(var(--spacing) * 6); /* 60-72px */

    /* ANIMATIONS: */
    --animation-spring: linear(
        0,
        0.01,
        0.04 1.6%,
        0.161 3.3%,
        0.816 9.4%,
        1.046,
        1.189 14.4%,
        1.231,
        1.254 17%,
        1.259,
        1.257 18.6%,
        1.236,
        1.194 22.3%,
        1.057 27%,
        0.999 29.4%,
        0.955 32.1%,
        0.942,
        0.935 34.9%,
        0.933,
        0.939 38.4%,
        1 47.3%,
        1.011,
        1.017 52.6%,
        1.016 56.4%,
        1 65.2%,
        0.996 70.2%,
        1.001 87.2%,
        1
    );
    --animation-curve: cubic-bezier(0.25, 1, 0.5, 1);
    --animation-timing: 240ms;

    /* Z-INDEXES */
    --z-overlay: 40;
    --z-dialog: 30;
    --z-nav: 20;
    --z-local: 10;
}
