---
import { ContactForm } from '@/components/contact-form/ContactForm';
import Title from '@/components/title/Title.astro';
import Layout from '@/layouts/Layout.astro';
---

<style>
    .intro {
        font-size: var(--type-1);
    }
</style>

<Layout title="Contact">
    <Title>Want to get in touch?</Title>
    <p class="intro">
        Something something something something, you can reach out to me on
        <a href="https://www.linkedin.com/in/dougmstewart/">LinkedIn</a>. If you just want to find
        out more about me you can always
        <a href="/downloads/doug-stewart-resume.pdf" download>download my resume</a>.
    </p>
    <ContactForm client:load />
</Layout>
