---
import Layout from '@/layouts/Layout.astro';

const time = new Date().toLocaleTimeString('en-US', {
    hour: 'numeric',
    minute: 'numeric',
    second: 'numeric',
    hour12: false,
});
---

<script>
    const form: HTMLFormElement | null = document.querySelector('.contact-form');

    const handleSubmit = async (event: Event) => {
        event.preventDefault();

        if (!form) return;

        const formData = new FormData(form);
        const data = Object.fromEntries(formData);

        const response = await fetch('/api/email', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        });

        if (response.ok) {
            form.reset();
            alert('Message sent!');
        } else {
            alert('Something went wrong. Please try again.');
        }
    };

    form?.addEventListener('submit', handleSubmit);
</script>

<style>
    .contact-form {
        display: grid;
        grid-template-columns: fit-content 1fr;

        label {
            display: grid;
            grid-column: 1 / -1;
            grid-template-columns: subgrid;
        }

        input,
        textarea {
            color: var(--green-5);
            font: inherit;
        }
        textarea {
            min-height: 8lh;

            @supports (field-sizing: content) {
                field-sizing: content;
                min-height: 4lh;
            }
        }
    }
</style>

<Layout title="Contact">
    <h1>Contact</h1>
    <form class="contact-form">
        <label>
            <span>Name</span>
            <input type="text" name="name" value={`Test - ${time}`} required />
        </label>
        <label>
            <span>Email</span>
            <input type="email" name="email" value="test@test.com" required />
        </label>
        <label>
            <span>Message</span>
            <textarea name="email" required>
                Time Sent: {time}
                {' '}
                Lorem ipsum odor amet, consectetuer adipiscing elit. Habitasse quis iaculis aliquet non
                quam laoreet dis. Himenaeos porttitor ex nec sollicitudin habitant; pulvinar magnis dictum.
                Suscipit risus ad suspendisse; finibus nisi efficitur mi. Tortor odio taciti dapibus
                sapien nunc lacus donec elit. Aliquet fermentum quam etiam sapien nostra himenaeos. Enim
                rutrum vivamus iaculis massa nec consectetur. Curae augue odio elementum, integer pulvinar
                blandit mus. Id fringilla sodales ligula donec dignissim taciti.
                {' '}
                Aenean suspendisse eget penatibus ad donec feugiat semper. Vitae magna commodo est lacinia
                class at etiam urna ipsum. Ad sodales at ridiculus cubilia ex quisque. Nisi nostra senectus
                efficitur sit nostra blandit vulputate. Semper ut odio eleifend consectetur commodo aenean
                vivamus. Eget nascetur lobortis orci eu adipiscing sodales cubilia. Justo nisi ultricies
                ex etiam nascetur nostra.
            </textarea>
        </label>
        <button type="submit">Send It</button>
    </form>
</Layout>
