---
import Asterism from '@/icons/asterism.svg';
import Jobs from '@/components/jobs/Jobs.astro';
import ButtonList from '@/components/button-list/ButtonList.astro';
import Skills from '@/components/skills/Skills.astro';
import Layout from '@/layouts/Layout.astro';

import { homeButtons } from '@/data/home-buttons.json';

import '@/styles/home.css';
---

<Layout title="Home">
    <h1 class="title">
        <Asterism class="asterism" />
        Hi! I’m <strong>Doug Stewart</strong>, a <strong>frontend developer</strong> living in <strong
            >San Francisco, CA</strong
        > with over 15 years’ experience making beautiful websites.
    </h1>
    <ButtonList buttons={homeButtons} class="links" />
    <section class="section">
        <h2>My tools of the trade</h2>
        <Skills />
    </section>
    <section class="section">
        <h2>(Not All of) The People I’ve worked with</h2>
        <Jobs />
    </section>
</Layout>
