---
import Layout from '../layouts/Layout.astro';
---

<style is:global>
    .wrapper {
        max-width: 78ch;
    }
</style>

<Layout title="Home">
    <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit</h1>
    <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit</h2>
    <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit</h3>
    <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit</h4>
    <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit</h5>
    <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit</h6>
    <p>
        <strong>Lorem ipsum dolor</strong> sit amet consectetur adipisicing elit. <em
            >Est exercitationem ea excepturi</em
        >
        corporis odit dolorum facere soluta illo, <a href="/">consequuntur minus</a> iure omnis error
        tempore quidem accusantium consectetur magnam rerum impedit?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum non minima error ducimus
        incidunt illo doloremque. Commodi distinctio exercitationem, inventore incidunt iusto
        maiores qui accusantium, dolores, sunt quibusdam laudantium nobis.
    </p>
    <p>
        <a href="/"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum non minima error ducimus
            incidunt illo doloremque. Commodi distinctio exercitationem, inventore incidunt iusto
            maiores qui accusantium, dolores, sunt quibusdam laudantium nobis</a
        >.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum non minima error ducimus
        incidunt illo doloremque. Commodi distinctio exercitationem, inventore incidunt iusto
        maiores qui accusantium, dolores, sunt quibusdam laudantium nobis.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum non minima error ducimus
        incidunt illo doloremque. Commodi distinctio exercitationem, inventore incidunt iusto
        maiores qui accusantium, dolores, sunt quibusdam laudantium nobis.
    </p>
    <ol>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est exercitationem ea excepturi
            corporis odit dolorum facere soluta illo, consequuntur minus iure omnis error tempore
            quidem accusantium consectetur magnam rerum impedit?
        </li>
        <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.<ol>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            </ol>
        </li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
    </ol>
    <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est exercitationem ea excepturi
            corporis odit dolorum facere soluta illo, consequuntur minus iure omnis error tempore
            quidem accusantium consectetur magnam rerum impedit?
        </li>
        <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.<ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            </ul>
        </li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
    </ul>
    <figure>
        <blockquote>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est exercitationem ea
                excepturi corporis odit dolorum facere soluta illo, consequuntur minus iure omnis
                error tempore quidem accusantium consectetur magnam rerum impedit?
            </p>
        </blockquote>
        <p>— <cite>Some dude</cite></p>
    </figure>
    <dl>
        <dt>Lorem ipsum dolor sit amet</dt>
        <dd>Ipsa nulla excepturi veritatis, illum, reiciendis totam explicabo quia iure.</dd>
        <dt>Lorem ipsum dolor sit amet</dt>
        <dd>Ipsa nulla excepturi veritatis, illum, reiciendis totam explicabo quia iure.</dd>
        <dt>Lorem ipsum dolor sit amet</dt>
        <dd>Ipsa nulla excepturi veritatis, illum, reiciendis totam explicabo quia iure.</dd>
        <dt>Lorem ipsum dolor sit amet</dt>
        <dd>Ipsa nulla excepturi veritatis, illum, reiciendis totam explicabo quia iure.</dd>
        <dt>Lorem ipsum dolor sit amet</dt>
        <dd>Ipsa nulla excepturi veritatis, illum, reiciendis totam explicabo quia iure.</dd>
    </dl>
</Layout>
