---
import Asterism from '@/assets/icons/asterism.svg';

const { isErrorRoute } = Astro.props;
---

<style>
    .footer {
        background: linear-gradient(to bottom, transparent, var(--blue-9) 84%);
        color: var(--blue-4);
        font-size: var(--type--1);
        font-style: italic;
        font-weight: 600;
        grid-area: footer;
        margin-block-end: calc(var(--spacing) * -3);
        margin-inline: calc(var(--spacing) * -3);
        overflow: clip;
        padding-block: calc(var(--spacing) * 5);
        padding-inline: calc(var(--spacing) * 3);
        position: relative;
        text-align: center;

        a {
            --_color: var(--blue-4);
            font-weight: 600;
        }
    }

    .asterism {
        bottom: 0;
        color: var(--green-2);
        font-size: var(--type-5);
        height: auto;
        left: 50%;
        opacity: 0.06;
        position: absolute;
        translate: -50% 10%;
        width: 1em;
    }
</style>

<footer class="footer">
    <Asterism role="presentation" class="asterism" />
    {isErrorRoute ? 'Imperfectly made with love by me.' : 'Made with love by me.'}
    <a href="/downloads/doug-stewart-resume.pdf" download>Download my resume</a>
</footer>
