---
import Asterism from '@/assets/icons/asterism.svg';

const { isErrorRoute } = Astro.props;
---

<style>
    .footer {
        background: linear-gradient(to bottom, transparent, var(--blue-8) 84%);
        font-weight: 600;
        grid-area: footer;
        margin-block-end: calc(var(--spacing) * -3);
        margin-inline: calc(var(--spacing) * -3);
        padding-block: 0 calc(var(--spacing) * 3);
        padding-inline: calc(var(--spacing) * 3);

        a {
            --_color: var(--green-2);
            font-weight: 600;
        }
    }

    .asterism {
        color: var(--green-2);
        height: auto;
        opacity: 0.24;
        width: 2em;
    }
</style>

<footer class="footer">
    <Asterism role="presentation" class="asterism" />
    <p>
        {isErrorRoute ? 'Imperfectly made with love by me.' : 'Made with love by me.'}
        <br />
        <a href="/downloads/doug-stewart-resume.pdf" download>Download my resume</a>
    </p>
</footer>
