---
import type { Button as ButtonType } from '@/types/button.d.ts';

import { Icon } from 'astro-icon/components';

import Button from '@/components/button/Button.astro';

type Props = {
    buttons: ButtonType[];
    class?: string;
};

const { buttons, class: classes } = Astro.props;
---

<style>
    .list {
        display: flex;
        flex-wrap: wrap;
        font-size: var(--type-l);
        gap: 2px;
        grid-template-columns: 1fr;
        max-width: max-content;
    }

    .social {
        min-width: max-content;
    }
</style>

<ul class:list={['list', classes]}>
    {
        buttons.map(({ url, name, icon }) => (
            <li class="social">
                <Button href={url}>
                    {icon && <Icon name={icon} />}
                    {name}
                </Button>
            </li>
        ))
    }
</ul>
