---
import Info from '@/assets/icons/info.svg';
---

<style>
    .notice {
        background-image: linear-gradient(
            to right,
            color-mix(in srgb, transparent, var(--blue-3) 12%),
            transparent
        );
        border-radius: 3px;
        margin-block-end: calc(var(--spacing) * 3);
        padding-block: calc(var(--spacing) * 2);
        padding-inline: calc(var(--spacing) * 4) calc(var(--spacing) * 2);
        position: relative;
    }

    .icon {
        color: var(--purple-2);
        display: block;
        height: calc(var(--spacing) * 2);
        inset-block-start: 50%;
        inset-inline-start: var(--spacing);
        position: absolute;
        translate: 0 -50%;
        width: calc(var(--spacing) * 2);

        + * {
            margin-block-start: 0;
        }
    }
</style>

<div class="notice">
    <Info class="icon" />
    <slot />
</div>
