---
import '@/styles/reset.css';
import '@/styles/variables.css';
import '@/styles/typography.css';
import '@/styles/forms.css';

import favicon from '@/assets/images/favicon.png';
import GlobalFooter from '@/components/global-footer/GlobalFooter.astro';
import GlobalHeader from '@/components/global-header/GlobalHeader.astro';

interface Props {
    title: string;
    bodyClass?: string;
    wrapperClass?: string;
    isErrorRoute?: boolean;
}

const { title, bodyClass, wrapperClass, isErrorRoute } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" href={favicon.src} />
        <meta name="generator" content={Astro.generator} />
        <title>{`${title} ⁂ Dou.gg`}</title>
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
        <style>
            body {
                --_bg-1: var(--blue-7);
                --_bg-2: var(--purple-6);

                background-color: var(--_bg-2);
                color: var(--teal-1);
                display: grid;
                grid-template:
                    'header' auto
                    'wrapper' 1fr
                    'footer' auto
                    / 1fr;
                padding-block: var(--spacing) calc(var(--spacing) * 3);
                padding-inline: calc(var(--spacing) * 3);
                position: relative;
            }

            .wrapper {
                --_max-body-width: calc(100vw - calc(var(--spacing) * 6));
                --_max-text-width: calc(var(--spacing) * 68);

                margin-block: calc(var(--spacing) * 5);
                max-width: min(var(--_max-body-width), var(--_max-text-width));
            }

            .page-bg {
                background: var(--_bg-2) radial-gradient(circle at 0 0, var(--_bg-2), var(--_bg-1))
                    no-repeat 0 0;
                inset: 0;
                isolation: isolate;
                overflow: clip;
                position: absolute;
                z-index: -2;

                &::before {
                    background: url('/images/static.png') repeat;
                    content: '';
                    inset: 0;
                    mix-blend-mode: soft-light;
                    opacity: 0.24;
                    position: absolute;
                }
            }
        </style>
        <script is:inline type="module">
            if (!('anchorName' in document.documentElement.style)) {
                // eslint-disable-next-line
                import('https://unpkg.com/@oddbird/css-anchor-positioning');
            }
        </script>
        <script>
            const handleDialogToggle = (button: Element) => {
                //eslint-disable-next-line
                const dialogId = button.getAttribute('data-dialog') as string;
                const dialog = document.getElementById(dialogId) as HTMLDialogElement;

                if (dialog.open) {
                    dialog.close();
                } else {
                    dialog.showModal();
                }
            };

            document.addEventListener('click', (event) => {
                const dialogToggle = (event.target as Element).closest('[data-dialog]');
                if (dialogToggle) {
                    event.preventDefault();
                    handleDialogToggle(dialogToggle);
                }
            });
        </script>
    </head>
    <body class:list={[bodyClass]}>
        <GlobalHeader />
        <main class:list={['wrapper', wrapperClass]}>
            <slot />
        </main>
        <GlobalFooter isErrorRoute={isErrorRoute} />
        <div class="page-bg"></div>
    </body>
</html>
